<!--
  Generated template for the WineDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="saveCloud()">
        <ion-icon name="cloud-done"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  

</ion-header>


<ion-content padding *ngIf="wine">
  
  <img [src]="wine.photoPath" *ngIf="wine.photoPath"/>  

  <ion-item no-lines *ngIf="!wine.photoPath">
    <button item-left ion-button clear icon-only (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
    <ion-label *ngIf="!wine.codebarre"> Prendre une photo</ion-label>
  </ion-item>

  <ion-item no-lines>
    <ion-label><b>Rapport Qualité / Prix</b></ion-label>
    <ion-icon small item-right name="star-outline" *ngIf="!wine.score||wine.score==0"></ion-icon>
    <ion-icon small item-right color="primary" name="star-half" *ngIf="wine.score==1"></ion-icon>
    <ion-icon small item-right color="primary" name="star" *ngIf="wine.score>=2"></ion-icon>
    <ion-icon small item-right color="primary" name="star-half" *ngIf="wine.score==3"></ion-icon>
    <ion-icon small item-right color="primary" name="star" *ngIf="wine.score>=4"></ion-icon>
    <ion-icon small item-right color="primary" name="star-half" *ngIf="wine.score==5"></ion-icon>
    <ion-icon small item-right color="primary" name="star" *ngIf="wine.score>=6"></ion-icon>
    <ion-icon small item-right color="primary" name="star-half" *ngIf="wine.score==7"></ion-icon>
    <ion-icon small item-right color="primary" name="star" *ngIf="wine.score>=8"></ion-icon>
    <ion-icon small item-right color="primary" name="star-half" *ngIf="wine.score==9"></ion-icon>
    <ion-icon small item-right color="primary" name="star" *ngIf="wine.score>=10"></ion-icon>
    <ion-icon small item-right name="star-outline" *ngIf="!wine.score||wine.score<3"></ion-icon>
    <ion-icon small item-right name="star-outline" *ngIf="!wine.score||wine.score<5"></ion-icon>
    <ion-icon small item-right name="star-outline" *ngIf="!wine.score||wine.score<7"></ion-icon>
    <ion-icon small item-right name="star-outline" *ngIf="!wine.score||wine.score<9"></ion-icon>
  </ion-item>
  
  <ion-range min="0" max="10" step="1" [(ngModel)]="wine.score" (ionChange)="elementChanged()">
      <ion-icon small range-left name="star-outline"></ion-icon>
      <ion-icon range-right name="star"></ion-icon>
  </ion-range>

  <ion-item no-lines>
    <button item-left ion-button clear icon-only (click)="scan()"><ion-icon name="barcode"></ion-icon></button>
    <ion-label *ngIf="!wine.codebarre"> Code barre</ion-label>
    <ion-label *ngIf="wine.codebarre"> {{wine.codebarre}}</ion-label>
  </ion-item>

  <ion-item no-lines>
    <ion-icon  item-left name="square" *ngIf="!wine.color"></ion-icon>
    <ion-icon  item-left name="square" color="primary" *ngIf="wine.color=='rouge'"></ion-icon>
    <ion-icon  item-left name="square" color="rose" *ngIf="wine.color=='rose'"></ion-icon>
    <ion-icon  item-left name="square" color="blanc" *ngIf="wine.color=='blanc'"></ion-icon>
    <ion-select [(ngModel)]="wine.color" placeholder="Couleur" (ionChange)="elementChanged()">
      <ion-option value="rouge" >Rouge</ion-option>
      <ion-option value="rose">Rosé</ion-option>
      <ion-option value="blanc">Blanc</ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-lines>
    <ion-icon  item-left name="wine"></ion-icon>
    <ion-input placeholder="Nom" [(ngModel)]="wine.nom" type="text" (change)="elementChanged()"></ion-input>
  </ion-item>

  <ion-item no-lines>
    <ion-icon  item-left name="calendar"></ion-icon>
    <ion-label *ngIf="!wine.millesime"> Millésime</ion-label>
    <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" [(ngModel)]="wine.millesime" (ionChange)="elementChanged()" ></ion-datetime>
  </ion-item>

  <ion-item no-lines>
    <ion-icon  item-left name="contact"></ion-icon>
    <ion-input placeholder="Producteur" [(ngModel)]="wine.producteur" type="text" (change)="elementChanged()"></ion-input>
  </ion-item>

   <ion-item no-lines (click)="openValueList('region')">
    <ion-icon  item-left name="pin"></ion-icon>
    <ion-label *ngIf="!wine.region"> Appellation, région ...</ion-label>
    <ion-label *ngIf="wine.region"> {{wine.appellation}} {{wine.region}} {{wine.subdivision}}</ion-label>
  </ion-item>

  <ion-item no-lines (click)="openPrice()">
    <ion-icon  item-left name="cash"></ion-icon>
    <ion-label *ngIf="!wine.lastPrice"> Prix</ion-label>
    <ion-label *ngIf="wine.lastPrice"> Dernier : {{wine.lastPrice.prix}} CFP {{wine.lastPrice.vendeurName}}</ion-label>
  </ion-item> 
   
  <ion-item no-lines (click)="openPrice()" *ngIf="wine.minPrice">
    <ion-icon  item-left name="arrow-down"></ion-icon>
    <ion-label> Meilleur : {{wine.minPrice.prix}} CFP {{wine.minPrice.vendeurName}}</ion-label>
  </ion-item>

  <ion-item no-lines>
    <ion-icon item-left name="paper"></ion-icon>
    <ion-textarea placeholder="Remarques" rows="4"[(ngModel)]="wine.note" type="text" (change)="elementChanged()"></ion-textarea>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar color="light" >
    <ion-item no-lines color="light">
      <button item-left ion-button  clear icon-only (click)="openMenuPhoto()"><ion-icon name="add"></ion-icon></button>
        <p>Dernière modification : {{lastModif}}</p>
      <button item-right ion-button  clear icon-only (click)="openMenuDetail()"><ion-icon name="more"></ion-icon></button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
