<!--
  Generated template for the PriceCreate page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title> Prix d'achat  et Vendeur</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label ><b>Ajouter un nouveau prix</b></ion-label>
  </ion-item>

  <ion-item no-lines>
    <ion-icon  item-left name="cash"></ion-icon>
    <ion-input placeholder="Prix CFP" [(ngModel)]="price.prix" type="number" 
    (change)="elementChanged()"></ion-input>
  </ion-item>

  <ion-item no-lines (click)="searchResellerByName()">
    <ion-icon  item-left name="basket"></ion-icon>
    <ion-label *ngIf="!price.vendeurName"> Vendeur</ion-label>
    <ion-label *ngIf="price.vendeurName"> {{price.vendeurName}}</ion-label>
  </ion-item>

  <ion-item *ngIf="priceList[0]">
    <ion-label><b>Historique</b></ion-label>
  </ion-item>

  <ion-list no-lines>
    <ion-item *ngFor="let item of priceList">
      <ion-icon  item-right name="trash" (click)="removePrice(item)"></ion-icon>
      {{ item.prix }} CFP - {{item.vendeurName}}
    </ion-item>
  </ion-list>

</ion-content>
