<ion-header>
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      WineNotes Nouméa
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="searchWine()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let wine of wineList" (click)="goToWineDetail(wine.id)">
    <img [src]="wine.photoPath" *ngIf="wine.photoPath">
    <ion-card-content>
      <ion-card-title>
        <h2>{{wine.nom}} {{wine.annee}}</h2>
      </ion-card-title>
      <p>
        {{wine.note}}
      </p>
    </ion-card-content>
    
  </ion-card>
  </ion-content>

<ion-footer>
  <ion-toolbar color="primary" >
    <button ion-button color="light" clear (click)="createWine()">Créer une note ...</button>
    
    <ion-buttons end>
      <button ion-button large (click)="openMenuPhoto()">   
        <ion-icon name="camera"></ion-icon>
      </button> 
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
