page-search-menu-page {


    .mySearch-item {
        padding:0px;
        margin:0px;
        max-height: 70px;
        .button{
            height:70px; 
            white-space: normal;  
            width: 31%;   
        }
    }

    .mySearch-item2 {
        padding:0px;
        margin:0px;
        max-height: 70px;
        .button{
            height:70px; 
            white-space: normal;  
            width: 31%; 
            color: #4285F4;
        
        }
    }

    .mySearch-item3 {
        padding:0px;
        margin:0px;
        max-height: 15px;
    }

}





